useDynLib(autovarCore)
# exportPattern("^[[:alpha:]]+")
export(autovar)
export(rcpp_hello_world)
importFrom(Rcpp, evalCpp)
importFrom(Amelia, amelia)
importFrom(jsonlite, toJSON)
importFrom(urca, ur.pp)
importFrom(vars, VAR)
importFrom(vars, restrict)
importFrom(vars, roots)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(parallel, clusterMap)
importFrom(parallel, stopCluster)
importFrom(stats, resid)
importFrom(stats, pnorm)
importFrom(stats, residuals)
importFrom(stats, pchisq)
importFrom(stats, var)
importFrom(stats, sd)
importFrom(stats, qnorm)
importFrom(RcppArmadillo, fastLm)
